
body{
    background-color: #1d2121; 
    margin: 0;
    overflow: hidden;
}
/* Cabeçalho*/
.Header {
    background-color: #000000;
    ;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    padding: 0.75rem;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-around;
}

.Header span {
    font-size: 2rem;
    color:#3FE38C;
    font-weight: 500;
    margin-left: 35px;
}


.Header a{
    text-decoration: none;
    color:#3FE38C;
    padding-inline: 0.5rem;
    font-size: 1.5rem;
}

/* Introdução ao usuário */

.container {
  margin-top: 60px; 
  height: calc(100vh - 60px); 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}